@model Shared.DTOs.Auth.LoginDto

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.UsernameOrEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(m => m.UsernameOrEmail, htmlAttributes: new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
    </div>
    <a>@Html.ActionLink("Register?", "Register", "Account")</a>
    <div class="col-md-offset-2 col-md-10 pt-2">
        <button class="btn btn-success" type="submit">Login</button>
    </div>

    @Html.ValidationSummary()
}
